module {{ .ProjectName.Lower.ToString }}

go 1.19

require (
	github.com/fatih/color v1.15.0
	github.com/gorilla/mux v1.8.0
	github.com/kelseyhightower/envconfig v1.4.0
	github.com/nanernunes/scaffold v0.3.8
	github.com/swaggo/http-swagger v1.3.4
	github.com/swaggo/swag v1.16.1
	gorm.io/datatypes v1.2.0
	gorm.io/driver/postgres v1.5.0
	gorm.io/gorm v1.25.0
)
