package config

import (
	"github.com/nanernunes/scaffold/db"
)

type Application struct {
	Config   *Config
	Database db.Database
}

func NewApplication() *Application {
    config := NewConfig()

	models := []interface{}{
		/* Models here, e.g: models.User{} */
	}

	database := db.New(db.Sqlite, models)

	return &Application{
		Config:   config,
		Database: database,
	}
}
