package api

import (
	"log"
	"net/http"

	"github.com/fatih/color"
	"github.com/nanernunes/scaffold"

	swagger "{{ .ProjectName.Lower.ToString }}/api/.swagger"
	"{{ .ProjectName.Lower.ToString }}/api/controllers"
	"{{ .ProjectName.Lower.ToString }}/config"
)

type API struct {
	Application *config.Application
	Router      *scaffold.Router
}

func (a *API) Listen() {
	done := make(chan error)
	addr := a.Application.Config.API.ToString()

	srv := &http.Server{
		Handler: a.Router,
		Addr:    addr,
	}

	go func(done chan error) {
		done <- srv.ListenAndServe()
	}(done)

	log.Printf("Listening on %s", color.GreenString(addr))

	<-done
}

func NewAPI(application *config.Application) (api *API) {
	api = &API{Application: application, Router: scaffold.NewRouter(nil)}
	swagger.UseSwagger(api.Router)

	controllers.NewIndexController(api.Router)

	return
}
