package models

import (
	{{ range $i, $import := .Imports }}
	"{{ $import }}"
	{{ end }}
	"gorm.io/gorm"
)

type {{ .ResourceName.Camel.ToString }} struct {
	gorm.Model `json:"-"`

	UUID string `json:"uuid,omitempty" gorm:"type:uuid;uniqueIndex"`
	{{ .ResourceName.Camel.ToString }}Attributes
}

type {{ .ResourceName.Camel.ToString }}Attributes struct {
	{{ range $key, $type := .ResourceFields }}
	{{ if eq $type "references" }}
	{{ $key.Camel.ToString }}ID int `json:"-"`
	{{ $key.Camel.ToString }} {{ $key.Camel.ToString }} `json:"{{ $key.Lower.ToString }}"`
	{{ else -}}
	{{ $key.Camel.ToString }} {{ $type }} `json:"{{ $key.Lower.ToString }}"`
	{{- end }}
	{{- end }}
}
